@use "reset";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "JetBrains Mono", Arial, Helvetica, monospace;
  font-weight: 400;
  font-size: 18px;
  color: black;
  background-color: white;
}